<!doctype html>
<html>
<head>
	<meta charset="utf-8"> 
	<meta name="viewport" content="initial-scale=1">
	<title>CTE SA Investments</title>
	<link rel="stylesheet" href="../css/styles.css">
</head>

<body>

	<header>
		<div class="container header-container">
			<div id="logo"></div>
			<ul id="main_navigation_list" class="relative">
				<li><a href="">O firmie</a></li>
				<li class="current-page-item menu-investments"><a href="">Inwestycje</a>
					<ul class="submenu investments-submenu none">
						<li class="submenu-title in-progress-title active">W realizacji</li>
						<li class="submenu-title realized-title">Zrealizowane</li>
						<ul class="submenu-categories in-progress">
							<li class="submenu-element">
								<img src="../img/house_icon.png" alt="realizowane">
								Zielone Wzgórze Wrocław
							</li>
							<li class="submenu-element">
								<img src="../img/house_icon.png" alt="realizowane">
								Zielone Wzgórze Wrocław
							</li>
							<li class="submenu-element">
								<img src="../img/house_icon.png" alt="realizowane">
								Zielone Wzgórze Wrocław
							</li>
						</ul>
						
						<ul class="submenu-categories realized none">
							<li class="submenu-element">
								<img src="../img/house_icon.png" alt="wybudowane">
								Niebieskie Wzgórze Wrocław
							</li>
							<li class="submenu-element">
								<img src="../img/house_icon.png" alt="wybudowane">
								Niebieskie Wzgórze Wrocław
							</li>
							<li class="submenu-element">
								<img src="../img/house_icon.png" alt="wybudowane">
								Niebieskie Wzgórze Wrocław
							</li>
						</ul>
					</ul>
				</li>
				<li><a href="">Strefa klienta</a></li>
				<li><a href="">Aktualności</a></li>
				<li><a href="">Kontakt</a></li>
			</ul>
			<div class="dropdown-menu">
				<img src="../img/mobile_menu.jpg" alt="menu">
				<ul>
					<li><a>O firmie</a></li>
					<li><a>Inwestycje</a></li>
					<li><a>Strefa klienta</a></li>
					<li><a>Aktualności</a></li>
					<li><a>Kontact</a></li>
				</ul>
			</div>
		</div>
		<div class="subpage-header-image-container">
		</div>
	</header>
	<!-- modal -->
	<div id="modal_apartment" class="modal">
		<div class="modal-content">
			<span class="close">
				<img src="../img/close_icon.jpg" alt="zamknij">
			</span>
			<aside class="table-sidebar">
			<h2>Mieszkanie M.001</h2>
			<table class="single-investment-table">
				<tr>
					<td>status:</td>
					<td>dostępne</td>
				</tr>
				<tr>
					<td>cena:</td>
					<td>187 560.00 PLN</td>
				</tr>
				<tr>
					<td>metraż:</td>
					<td>34.86 m²</td>
				</tr>
				<tr>
					<td>liczba pokoi:</td>
					<td>---</td>
				</tr>
				<tr>
					<td>etap inwestycji:</td>
					<td>ETAP 1</td>
				</tr>
				<tr>
					<td>cena za m²</td>
					<td>5 365.00 PLN</td>
				</tr>
				<tr>
					<td>ogród:</td>
					<td>20.17 m²</td>
				</tr>
				<tr>
					<td>typ segmentu:</td>
					<td>---</td>
				</tr>
				<tr>
					<td>balkon:</td>
					<td>---</td>
				</tr>
			</table>
			<a href="" class="modal-btn pdf-icon">PDF</a>
			<a href="" class="modal-btn send-icon">Jestem zainteresowany</a>
			</aside>
			<main class="inline-carousel">
				<ul class="bxslider apartment-popup-slider">
					<li>
						<img src="../img/popup_img.jpg" alt="galeria">
					</li>
					<li>
						<img src="../img/popup_img.jpg" alt="galeria">
					</li>
					<li>
						<img src="../img/popup_img.jpg" alt="galeria">
					</li>
				</ul>
			</main>
			<footer>
				<p class="separate-margin">
					Donec finibus lorem ut tincidunt maximus. Aenean orci mauris, sollicitudin id urna at, malesuada pretium leo. Donec consectetur enim a porttitor vestibulum. Pelle pellentesque orci ante, a lobortis quam maximus id. Fusce vehicula vel nisi ac lacinia. Sed magna urna, imperdiet posuere magna vitae, venenatis sagittis justo. Utu ut gravida quam. Quisque elementum et mi vitae cursus.
				</p>
			</footer>
		</div>
	</div>
	<!-- end of modal -->
	<div class="container">
		<aside class="sidebar-navigation sidebar">
			<h5>Inwestycja</h5>
			<nav>
				<a href="" class="active">Podstawowe informacje<span> &lt; </span></a>
				<a href="">Lokalizacja<span> &lt; </span></a>
				<a href="">Plan osiedla<span> &lt; </span></a>
				<a href="">Cennik<span> &lt; </span></a>
				<a href="">Standard wykończeń<span> &lt; </span></a>
				<a href="">Wizualizacje<span> &lt; </span></a>
				<a href="">Zdjęcia z budowy<span> &lt; </span></a>
				<a href="">Wideo<span> &lt; </span></a>
				<a href="">Wirtualny spacer<span> &lt; </span></a>
			</nav>
			<a href=""><img src="../img/fb_btn.jpg" alt="facebook"></a>
		</aside>

		<main class="sidebar-page-main-content">
			<h1>Zielone Wzgórze Wrocław</h1>
			<h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus sodales aliquam sapien vitae facilisis. Lorem ipsum dolor sit amet.</h3>
			<img src="../img/home_example.jpg" alt="widok domu">
			<section id="investment_tables" class="bottom-border">
				<table class="single-investment-table">
					<tr>
						<td class="bold">adres inwestycji:</td>
						<td>Bema 15, 50-500 Wrocław</td>
					</tr>
					<tr>
						<td class="bold">typ zabudowy:</td>
						<td>mieszkania</td>
					</tr>
					<tr>
						<td class="bold">status:</td>
						<td>w budowie</td>
					</tr>
					<tr>
						<td class="bold">termin realizacji:</td>
						<td>21 / 24 / 2017</td>
					</tr>
				</table>
				<table class="single-investment-table">
					<tr>
						<td class="bold">liczba mieszkań:</td>
						<td>123</td>
					</tr>
					<tr>
						<td class="bold">powierzchnie:</td>
						<td>od 28.00m do 82.50m</td>
					</tr>
					<tr>
						<td class="bold">miejsca postojowe:</td>
						<td>203</td>
					</tr>
					<tr>
						<td class="bold">komórki lokatorskie:</td>
						<td>203</td>
					</tr>
				</table>
			</section>
			<section id="investment_description" class="bottom-border">
				<h2>Opis inwestycji</h2>
				<h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus sodales aliquam sapien vitae facilisis. Lorem ipsum dolor sit amet.</h3>
				<p>
					Donec finibus lorem ut tincidunt maximus. Aenean orci mauris, sollicitudin id urna at, malesuada pretium leo. Donec consectetur enim a porttitor vestibulum. Pellentesque pellentesque orci ante, a lobortis quam maximus id. Fusce vehicula vel nisi ac lacinia. Sed magna urna, imperdiet posuere magna vitae, venenatis sagittis justo. Ut ut gravida quam. Quisque elementum et mi vitae cursus. Curabitur massa lacus, facilisis sit amet vestibulum quis, viverra sit amet dui. Sed facilisis imperdiet tempus. Cras tortor felis, tristique pellentesque vestibulum eu, sollicitudin sit amet neque. 
				</p>
				<ul class="styled-list">
					<li>
						<p>
							Suspendisse non dolor mi. Duis a est id lectus consectetur pulvinar. Duis ultrices mi eu mollis tempor. Maecenas hendrerit eu mi vel egestas. Nulla tristique sodales orci.
						</p>
					</li>
					<li>
						<p>
							Quisque scelerisque mauris tortor, vel dictum elit tempor at.
						</p>
					</li>
					<li>
						<p>
							Maecenas tincidunt purus id ante tristique pellentesque. Sed viverra libero non orci egestas, eu viverra eros ultricies. Vestibulum ac semper nulla. 
						</p>
					</li>
				</ul>
				<p class="separate-margin">Phasellus at venenatis tellus. Donec interdum mattis tellus in luctus.</p>
				<p>
					Integer vitae libero cursus, ullamcorper massa sed, pellentesque odio. In posuere massa sit amet nunc laoreet, et placerat ante viverra. Donec eget eleifend mauris. Etiam quis orci a turpis laoreet aliquet eu ac urna. Curabitur eros lorem, cursus nec molestie posuere, mattis venenatis eros. Vestibulum ut nunc vitae odio imperdiet bibendum vel malesuada risus. Aenean auctor, diam at rhoncus suscipit, velit magna tristique lorem, vitae consequat lectus nisi nec est. Maecenas mi lectus, varius hendrerit sollicitudin at, mattis quis risus.
				</p>
			</section>
			<section id="localization" class="bottom-border">
				<h2>Lokalizacja</h2>
				<h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus sodales aliquam sapien vitae facilisis. Lorem ipsum dolor sit amet.</h3>
				<p>
					Donec finibus <span class="bold">lorem ut tincidunt</span> maximus. Aenean orci mauris, sollicitudin id urna at, malesuada pretium leo. Donec consectetur enim a porttitor vestibulum.
				</p>
				<div id="map"></div>
			</section>
			<section id="estate_plan" class="bottom-border">
				<h2>Plan osiedla</h2>
				<h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus sodales aliquam sapien vitae facilisis. Lorem ipsum dolor sit amet.</h3>
				<p>
					Donec finibus lorem ut tincidunt maximus. Aenean orci mauris, sollicitudin id urna at, malesuada pretium leo. Donec consectetur enim a porttitor vestibulum.
				</p>
				<ul class="apartment-legend">
					<li class="unavailable">- mieszkanie niedostepne</li>
					<li class="reserved">- mieszkanie zarezerwowane</li>
					<li class="available">- mieszkanie dostępne</li>
				</ul>
				<img src="../img/plan.jpg" alt="plan osiedla">
			</section>
			<section id="pricing" class="bottom-border">
				<h2>Cennik</h2>
				<h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus sodales aliquam sapien vitae facilisis. Lorem ipsum dolor sit amet.</h3>
				<p>
					Donec finibus lorem ut tincidunt maximus. Aenean orci mauris, sollicitudin id urna at, malesuada <span class="bold">pretium leo.</span> Donec consectetur enim a porttitor vestibulum.
				</p>
				<ul class="apartment-legend">
					<li class="unavailable">- mieszkanie niedostepne</li>
					<li class="reserved">- mieszkanie zarezerwowane</li>
					<li class="available">- mieszkanie dostępne</li>
				</ul>
				<table class="price-list-table">
					<tr class="unavailable">
						<td>M.001</td>
						<td>Etap1</td>
						<td>l.pokoi: 2</td>
						<td>cena: 256 202.00 PLN</td>
						<td>metraż: 48.34m</td>
						<td>ogród: 48.76m</td>
						<td>niedostępne</td>
						<td class="see-more-icon"><img src="../img/see_more.png" alt="więcej"></td>
					</tr>
					<tr class="reserved">
						<td>M.001</td>
						<td>Etap1</td>
						<td>l.pokoi: 2</td>
						<td>cena: 256 202.00 PLN</td>
						<td>metraż: 48.34m</td>
						<td>ogród: 48.76m</td>
						<td>niedostępne</td>
						<td class="see-more-icon"><img src="../img/see_more.png" alt="więcej"></td>
					</tr>
					<tr class="available">
						<td>M.001</td>
						<td>Etap1</td>
						<td>l.pokoi: 2</td>
						<td>cena: 256 202.00 PLN</td>
						<td>metraż: 48.34m</td>
						<td>ogród: 48.76m</td>
						<td>niedostępne</td>
						<td class="see-more-icon"><img src="../img/see_more.png" alt="więcej"></td>
					</tr>
					<tr class="reserved">
						<td>M.001</td>
						<td>Etap1</td>
						<td>l.pokoi: 2</td>
						<td>cena: 256 202.00 PLN</td>
						<td>metraż: 48.34m</td>
						<td>ogród: 48.76m</td>
						<td>niedostępne</td>
						<td class="see-more-icon"><img src="../img/see_more.png" alt="więcej"></td>
					</tr>
				</table>
			</section>
			<section id="standard" class="bottom-border">
				<h2>Standard wykończeń</h2>
				<h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus sodales aliquam sapien vitae facilisis. Lorem ipsum dolor sit amet.</h3>
				<p>
					Donec finibus lorem ut tincidunt maximus. Aenean orci mauris, sollicitudin id urna at, malesuada pretium leo. Donec consectetur enim a porttitor vestibulum. Pellentesque pellentesque orci ante, a lobortis quam maximus id. Fusce vehicula vel nisi ac lacinia. Sed magna urna, imperdiet posuere magna vitae, venenatis sagittis justo. Ut ut gravida quam. Quisque elementum et mi vitae cursus.
				</p>
				<p class="separate-margin">
					Curabitur <span class="bold">massa lacus</span>, facilisis sit amet vestibulum quis, viverra sit amet dui. Sed facilisis imperdiet tempus. Cras tortor felis, tristique pellentesque vestibulum eu, sollicitudin sit amet neque.
				</p>
			</section>
			<section id="visualization" class="bottom-border inline-carousel">
				<h2>Wizualizacje</h2>
				<h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus sodales aliquam sapien vitae facilisis. Lorem ipsum dolor sit amet.</h3>
				<p>
					Donec finibus lorem ut tincidunt maximus. Aenean orci mauris, sollicitudin id urna at, malesuada pretium leo. Donec consectetur enim a porttitor vestibulum.
				</p>
				<ul class="bxslider visualization-slider">
					<li>
						<img src="../img/small_example.jpg" alt="galeria">
					</li>
					<li>
						<img src="../img/small_example.jpg" alt="galeria">
					</li>
					<li>
						<img src="../img/small_example.jpg" alt="galeria">
					</li>
					<li>
						<img src="../img/small_example.jpg" alt="galeria">
					</li>
					<li>
						<img src="../img/small_example.jpg" alt="galeria">
					</li>
					<li>
						<img src="../img/small_example.jpg" alt="galeria">
					</li>
					<li>
						<img src="../img/small_example.jpg" alt="galeria">
					</li>
				</ul>
			</section>
			<section id="photos" class="bottom-border inline-carousel">
				<h2>Zdjęcia z budowy</h2>
				<h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus sodales aliquam sapien vitae facilisis. Lorem ipsum dolor sit amet.</h3>
				<p>
					Donec finibus lorem ut tincidunt maximus. Aenean orci mauris, sollicitudin id urna at, malesuada pretium leo. Donec consectetur enim a porttitor vestibulum.
				</p>
				<ul class="bxslider photos-slider">
					<li>
						<img src="../img/small_example.jpg" alt="galeria">
					</li>
					<li>
						<img src="../img/small_example.jpg" alt="galeria">
					</li>
					<li>
						<img src="../img/small_example.jpg" alt="galeria">
					</li>
					<li>
						<img src="../img/small_example.jpg" alt="galeria">
					</li>
					<li>
						<img src="../img/small_example.jpg" alt="galeria">
					</li>
					<li>
						<img src="../img/small_example.jpg" alt="galeria">
					</li>
					<li>
						<img src="../img/small_example.jpg" alt="galeria">
					</li>
				</ul>
			</section>
			<section id="video" class="bottom-border">
				<h2>Wideo</h2>
				<h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus sodales aliquam sapien vitae facilisis. Lorem ipsum dolor sit amet.</h3>
				<p>
					Donec finibus lorem ut tincidunt maximus. Aenean orci mauris, sollicitudin id urna at, malesuada pretium leo. Donec consectetur enim a porttitor vestibulum.
				</p>
				 <div class="video-wrapper">
    				<iframe width="560" height="349" src="http://www.youtube.com/embed/n_dZNLr2cME?rel=0&hd=1" frameborder="0" allowfullscreen></iframe>
				</div>
			</section>
		</main>
	</div>
	<section id="search_panel">
		<div class="container">
			<form id="search_form">
				<select>
					<option value="">- Rodzaj powierzchni</option>
					<option value="">test</option>
				</select>
				<select>
					<option value="">- Inwestycja</option>
					<option value="">test</option>
				</select>
				<input type="text" name="minPrice" placeholder="cena od">
				<input type="text" name="maxPrice" placeholder="cena do">
				<input type="text" name="minArea" placeholder="pow.min.">
				<input type="text" name="maxArea" placeholder="pow.max">
				<input type="text" name="room" placeholder="l.pokoi">
				<select>
					<option value="">- Program MDM?</option>
					<option value="">test</option>
				</select>
				<button class="search-button" type="submit"><img src="../img/search_btn.png" alt="szukaj"></button>
			</form>
		</div>
	</section>
	<img src="../img/motto.png" class="motto" alt="Niewiele jest takich miejsc we Wrocławiu!">
	<section id="firm_info_container">
		<div class="container">
			<ul class="info-section-list">
				<li>
					<img src="../img/investment_img.jpg" alt="inwestycja roku 2014">
				</li>
				<li>
					<ul class="info-section-sublist relative">
						<li>
							Centre od Trade Estate S.A.
						</li>
						<li>
							Al. Wiśniowa 47 53-126 Wrocław
						</li>
						<li>
							NIP: 897-16-93-211
						</li>
					</ul>
				</li>
				<li>
					<ul class="info-section-sublist relative">
						<li>
							Kapitał zakładowy: 8.000.000,00 PLN
						</li>
						<li>
							REGON: 932989989,
						</li>
						<li>
							KRS: 0000205346
						</li>
					</ul>
				</li>
				<li>
					<ul class="link-list relative">
						<li><a href="">Polityka prywatności</a></li>
						<li><a href="">Regulamin</a></li>
						<li><a href="">Kontakt</a></li>
					</ul>
				</li>
			</ul>
		</div>
	</section>

	<footer>
		<div class="container relative">
			<ul>
				<li class="copyrights">Copyright &copy; CTE S.A.</li>
				<li>strony internetowe iCenter.pl</li>
				<li>CMS WEGO</li>
			</ul>
			<span class="to-top main-color italic">Do góry</span>
		</div>
	</footer>

	<script src="js/jquery.min.js"></script>
	<script src="js/jquery.bxslider.min.js"></script>
	<script src="js/scripts.js"></script>
	<script src="js/bxslider_scripts.js"></script>
	<script src="https://maps.googleapis.com/maps/api/js?callback=initMap" async defer></script>
</body>
</html>