<!doctype html>
<html>
<head>
	<meta charset="utf-8"> 
	<meta name="viewport" content="initial-scale=1">
	<title>CTE SA Investments</title>
	<link rel="stylesheet" href="../css/styles.css">
	<link href="stylesheets/jquery.bxslider.css" rel="stylesheet" />
</head>

<body>

	<header>
		<div class="container header-container">
			<div id="logo"></div>
			<div class="navigation-container">
				<ul id="main_navigation_list" class="relative">
					<li><a href="">O firmie</a></li>
					<li class="menu-investments"><a href="">Inwestycje</a>
						<ul class="submenu investments-submenu none">
							<li class="submenu-title in-progress-title active">W realizacji</li>
							<li class="submenu-title realized-title">Zrealizowane</li>
							<ul class="submenu-categories in-progress">
								<li class="submenu-element">
									<img src="../img/house_icon.png" alt="realizowane">
									Zielone Wzgórze Wrocław
								</li>
								<li class="submenu-element">
									<img src="../img/house_icon.png" alt="realizowane">
									Zielone Wzgórze Wrocław
								</li>
								<li class="submenu-element">
									<img src="../img/house_icon.png" alt="realizowane">
									Zielone Wzgórze Wrocław
								</li>
							</ul>
							
							<ul class="submenu-categories realized none">
								<li class="submenu-element">
									<img src="../img/house_icon.png" alt="wybudowane">
									Niebieskie Wzgórze Wrocław
								</li>
								<li class="submenu-element">
									<img src="../img/house_icon.png" alt="wybudowane">
									Niebieskie Wzgórze Wrocław
								</li>
								<li class="submenu-element">
									<img src="../img/house_icon.png" alt="wybudowane">
									Niebieskie Wzgórze Wrocław
								</li>
							</ul>
						</ul>
					</li>
					<li><a href="">Strefa klienta</a></li>
					<li class="current-page-item"><a href="">Aktualności</a></li>
					<li><a href="">Kontakt</a></li>
				</ul>
				<div class="dropdown-menu">
					<img src="../img/mobile_menu.jpg" alt="menu">
					<ul>
						<li><a>O firmie</a></li>
						<li><a>Inwestycje</a></li>
						<li><a>Strefa klienta</a></li>
						<li><a>Aktualności</a></li>
						<li><a>Kontact</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="subpage-header-image-container">
		</div>
	</header>

	<div class="container">
		<aside class="sidebar sidebar-carousel">
			<ul class="bxslider single-slider">
				<li>
					<img src="../img/single_carousel.jpg" alt="galeria">
				</li>
				<li>
					<img src="../img/single_carousel.jpg" alt="galeria">
				</li>
				<li>
					<img src="../img/single_carousel.jpg" alt="galeria">
				</li>
			</ul>
			<span id="single_navigation" class="pagination relative">
				<a data-slide-index="0">
					<svg class="pagination-btn" height="14" width="14">
						<circle cx="9" cy="8" r="3"/>
					</svg>
				</a>
				<a data-slide-index="1">
					<svg class="pagination-btn" height="14" width="14">
						<circle cx="9" cy="8" r="3"/>
					</svg>
				</a>
				<a data-slide-index="2">
					<svg class="pagination-btn" height="14" width="14">
						<circle cx="9" cy="8" r="3"/>
					</svg>
				</a>
			</span>
		</aside>

		<main class="sidebar-page-main-content">
			<h1>Mieszkanie dla Młodych</h1>
			<p class="realise-date red">
				<img src="../img/calendar_icon.png" alt="data">
				21 - 04 - 2016<span> | </span>
				<a class="red" href="">powrót do listy aktualności ></a>
			</p>
			<p class="separate-margin">
				Planujesz zakup mieszkania w programie MdM? U nas możesz to zrobić, mimo, iż pula środków przeznaczonych na rok 2016 została wyczerpana. Bank Gospodarstwa Krajowego przyjmuje wnioski z uruchomieniem wypłaty w 2
			</p>
			<p class="separate-margin">Nie zwlekaj z decyzją!</p>
			<p class="separate-margin">
				Zachęcamy do zapoznania się z ofertą mieszkań dostępnych w programie MdM. Listę dostępnych lokali zobaczysz TUTAJ. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam nulla tellus, sodales non facilisis aliquet, facilisis at felis. Vivamus feugiat ex eget orci commodo facilisis. Fusce quam leo, lobortis ut metus ac, lobortis vehicula eros. Donec eget ante non risus viverra finibus. Pellentesque scelerisque augue sit amet nibh lacinia, vel varius dui porttitor. Nunc hendrerit dolor et ultrices posuere. Proin laoreet cursus sodales. Curabitur eget mauris dolor. Phasellus sodales arcu consectetur mi aliquam, placerat ullamcorper ante vehicula. 
			</p>
			<p class="separate-margin">
				Nullam finibus dignissim lorem, sit amet pulvinar odio tristique sit amet. Curabitur eros erat, accumsan sed tortor ut, pretium lacinia tortor. Nulla tristique sem quis diam pretium, id pulvinar nunc aliquam.
			</p>
			<p class="separate-margin">
				Morbi vel libero sapien. Morbi velit purus, viverra at pulvinar vitae, mollis sit amet ipsum. Donec condimentum quis elit at imperdiet. Suspendisse varius urna eu elementum commodo. Nullam tempor ex quis tortor dignissim consectetur. Vestibulum imperdiet, nisl sed ultricies volutpat, ex lorem fringilla lectus, ut dignissim velit mauris non erat. Morbi ut sem ultricies, fringilla erat sed, cursus massa.
			</p>
			<p class="separate-margin">
				Vivamus feugiat ex eget orci commodo facilisis. Fusce quam leo, lobortis ut metus ac, lobortis vehicula eros. Donec eget ante non risus viverra finibus. Pellentesque scelerisque augue sit amet nibh lacinia, vel varius dui porttitor. Nunc hendrerit dolor et ultrices posuere. Proin laoreet cursus sodales. Curabitur eget mauris dolor. Phasellus sodales arcu consectetur mi aliquam, placerat ullamcorper ante vehicula. 
			</p>
		</main>
	</div>
	<section id="search_panel">
		<div class="container">
			<form id="search_form">
				<select>
					<option value="">- Rodzaj powierzchni</option>
					<option value="">test</option>
				</select>
				<select>
					<option value="">- Inwestycja</option>
					<option value="">test</option>
				</select>
				<input type="text" name="minPrice" placeholder="cena od">
				<input type="text" name="maxPrice" placeholder="cena do">
				<input type="text" name="minArea" placeholder="pow.min.">
				<input type="text" name="maxArea" placeholder="pow.max">
				<input type="text" name="room" placeholder="l.pokoi">
				<select>
					<option value="">- Program MDM?</option>
					<option value="">test</option>
				</select>
				<button class="search-button" type="submit"><img src="../img/search_btn.png" alt="szukaj"></button>
			</form>
		</div>
	</section>
	<img src="../img/motto.png" class="motto" alt="Niewiele jest takich miejsc we Wrocławiu!">
	<section id="firm_info_container">
		<div class="container">
			<ul class="info-section-list">
				<li>
					<img src="../img/investment_img.jpg" alt="inwestycja roku 2014">
				</li>
				<li>
					<ul class="info-section-sublist relative">
						<li>
							Centre od Trade Estate S.A.
						</li>
						<li>
							Al. Wiśniowa 47 53-126 Wrocław
						</li>
						<li>
							NIP: 897-16-93-211
						</li>
					</ul>
				</li>
				<li>
					<ul class="info-section-sublist relative">
						<li>
							Kapitał zakładowy: 8.000.000,00 PLN
						</li>
						<li>
							REGON: 932989989,
						</li>
						<li>
							KRS: 0000205346
						</li>
					</ul>
				</li>
				<li>
					<ul class="link-list relative">
						<li><a href="">Polityka prywatności</a></li>
						<li><a href="">Regulamin</a></li>
						<li><a href="">Kontakt</a></li>
					</ul>
				</li>
			</ul>
		</div>
	</section>

	<footer>
		<div class="container relative">
			<ul>
				<li class="copyrights">Copyright &copy; CTE S.A.</li>
				<li>strony internetowe iCenter.pl</li>
				<li>CMS WEGO</li>
			</ul>
			<span class="to-top main-color italic">Do góry</span>
		</div>
	</footer>

	<script src="js/jquery.min.js"></script>
	<script src="js/jquery.bxslider.min.js"></script>
	<script src="js/scripts.js"></script>
	<script src="js/bxslider_scripts.js"></script>
</body>
</html>